{% extends 'Nav_Footer.html' %}
{% load static %}
{% block Data %}
<div class="table">
    <table class="table1">
        <tr class="row">
            <th>NO.</th>
            <th>SENDER</th>
            <th>RECEIVER</th>
            <th>AMOUNT</th>
            <th>DATE</th>
        </tr>
        {% for i in history %}
        <tr class="row2">
            <td>{{ i.id }}</td>
            <td>{{ i.SenderName }}</td>
            <td>{{ i.ReceiverName }}</td>
            <td>{{ i.Amount }}</td>
            <td>{{ i.Date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}